.navtop {
	top:0
}

.bar{width:100%;overflow:hidden}

.white,.w3-hover-white:hover{
	color:#000!important;
	background-color:#fff
	!important}

.card,.card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}

.barstuff{
	padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0
}

.textalign{
	position: absolute;
	top: 20%;
	left: 40%;
	color: white
}

.textaligngame{
	position: absolute;
	top: 20%;
	left: 30%;
	color: white
}

.optionbutton1{
	position: absolute;
	top: 70%;
	left: 60%;
	background-color: #999999;
	border: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	width: 300px;
    height: 100px;
	
}
.optionbutton2{
	position: absolute;
	top: 90%;
	left: 60%;
	background-color: #999999;
	border: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	width: 300px;
    height: 100px;
	
}
.optionbutton3{
	position: absolute;
	top: 90%;
	left: 20%;
	background-color: #999999;
	border: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	width: 300px;
    height: 100px;
	
}
.optionbutton4{
	position: absolute;
	top: 70%;
	left: 20%;
	background-color: #999999;
	border: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	width: 300px;
    height: 100px;
	
}

.optionbutton5{
	position: absolute;
	top: 90%;
	left: 40%;
	background-color: #999999;
	border: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	width: 300px;
    height: 100px;
	
}

.optionbutton6{
	position: absolute;
	top: 70%;
	left: 40%;
	background-color: #999999;
	border: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	width: 300px;
    height: 100px;
	
}


.gamebutton{
	position: absolute;
	top: 70%;
	left: 40%;
	background-color: #999999;
	border: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	
}

.button{
	white-space:normal
}

.wideletter{
	letter-spacing:4px
}

.display-container:hover

.greyscale{
	filter:grayscale(50%)
}

.display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}

.whitestuff,.hover-text-white:hover{color:#fff!important}

.right{float:right!important}

.hide-small{display:none!important}

.center{text-align:center!important}

.black,.hover-black:hover{color:#fff!important;background-color:#000!important}

.padding-64{padding-top:64px!important;padding-bottom:64px!important}

.xlarge{font-size:24px!important}

.section,.code{margin-top:16px!important;margin-bottom:16px!important}

	

